html {
  font-size: 62.5%;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
  background: url('/img/free5.jpeg') no-repeat fixed left bottom;
  background-size: cover;
}
a {
  color: #fff;
}
ul {
  margin: 0;
}
.status-background {
  height: 100vh;
  //background: linear-gradient(#3f51b5, #1a237e) fixed;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)) fixed;
  color: #fff;
  //padding: 5px;
}
/*
  メインのコンテンツ
 */
.main-content {
  font-size: 4em;
  padding: 15px !important;
  height: 100%;
  border: solid 3px #fff;

  // カテゴリーのエリア
  .category-box {
    margin-bottom: 10px;
    .category-name, .category-actions {
      display: inline-block;
    }
    .category-name {
      margin-right: 10px;
    }
    // 装備のアクション
    .equipment-actions-list {
      li {
        font-size: 0.7em;
        border: solid 1px #fff;
        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  // 詳細のエリア
  .detail-box {
    li {
      &:hover {
       background: rgba(255, 255, 255, 0.3);
      }
    }
    // 左のエリア
    .left-area {
      float: left;
      width: 50%;
      height: 500px;
      padding: 10px;
      border-right: solid 1px #fff;
    }
    // 右のエリア
    .right-area {
      float: right;
      width: 50%;
      height: 500px;
      padding: 10px;
    }
    // 下のエリア
    .bottom-area {
      border: solid 1px #fff;
      height: 200px;
    }
    // プレイヤーステータスの詳細
    .player-status-list {
      font-size: 0.6em;
      text-align: right;
      span {
        float: left;
        opacity: .8;
      }
    }
    // 装備の詳細
    .equipments-list {
      font-size: 0.7em;
    }
    // 称号の詳細
    .former-titles {
      overflow: auto;
      height: 100%;
      font-size: 0.7em;
    }
    .latter-titles {
      overflow: auto;
      height: 100%;
      font-size: 0.7em;
    }
  }
}

/*
  左のコンテンツ
 */
.side-content {
  padding: 20px !important;
  font-size: 3em;
  border: solid 3px #fff;
  height: 100%;
  ul.category-list {
    li {
      margin-bottom: 10px;
      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
    a {
    display: block;
    }
  }
}
.avatar {
  width: 10%;
  object-fit: cover;
  //border-radius: 50%;
}
.btn.ghost {
  border: solid 1px #fff;
  background: rgba(0, 0, 0, .1);
}
.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #fff;
}